allow init rootfs:file relabelto;
allow init sysfs:file setattr;
allow init system_file:dir relabelfrom;
allow init system_file:file relabelfrom;
allow init vendor_configs_file:dir relabelfrom;
allow init vendor_configs_file:file relabelfrom;
allow init sysfs_leds:lnk_file read;
allow init system_file:file execute_no_trans;
