allow vendor_init device:file { create write };
allow vendor_init media_rw_data_file:file { getattr relabelfrom };
allow vendor_init seemp_data_file:dir setattr;
allow vendor_init tombstone_data_file:dir setattr;
